body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav {
  background-color: #2980b9;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

main {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
